:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --main-text-cl: #303030;
  --light-text-cl: #ffffff;
  --accent-text-cl: #ff6c00;
  --grey-text-cl-60: rgba(157, 164, 189, 0.6);
  --grey-text-cl: #9da4bd;
  --dark-grey-tx-cl: #555555;

  /* Background colors */
  --main-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;

  /* Others */
}

/* RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  outline: 1px solid red;
  outline-offset: -2px;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/**
  |============================
  | BASE
  |============================
*/

.page {
  font-family: var(--main-font);
  background-color: var(--main-bg-cl);
  color: var(--main-text-cl);

  line-height: calc(30 / 18);
  font-size: 18px;
  letter-spacing: 0.02em;
}

.section-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.dark-title {
  margin-bottom: 44px;
  color: var(--light-text-cl);
}

.btn {
  padding: 10px 16px;
  width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
/**
  |============================
  | Header
  |============================
*/

.header {
  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-logo {
  margin-right: 132px;
}

.header-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-link,
.header-contact {
  display: flex;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: calc(16 / 12);

  color: var(--light-text-cl);
}

.header-group {
  display: flex;
  align-items: center;
}

.header-contact {
  margin-right: 40px;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-text-cl);
}

.header-btn {
  color: var(--light-text-cl);
}

/**
  |============================
  | HERO
  |============================
*/

.hero {
  background-color: #191c26;
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-text-cl);
}

.hero .uppertitle {
  color: var(--grey-text-cl-60);
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--light-text-cl);
}

.hero-subtitle {
  color: var(--grey-text-cl);
}

.slider-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--grey-text-cl-60);
  background-color: transparent;
}

.slider-btn.active {
  color: var(--light-text-cl);
}

/**
  |============================
  | ABOUT US
  |============================
*/

.about-group {
  width: 470px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-subtitle {
  margin-bottom: 20px;
  color: var(--dark-grey-tx-cl);
}

.about-text {
  margin-bottom: 40px;
  color: var(--dark-grey-tx-cl);
  font-size: 14px;
  line-height: calc(26 / 14);
}

.about-list {
  display: flex;
  gap: 30px;
}

/**
  |============================
  | SERVICES & PRICES
  |============================
*/

.price {
  background-color: #191c26;
}

.price .uppertitle {
  color: var(--grey-text-cl-60);
}

.price-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;
}

.price-item {
  color: var(--grey-text-cl);
  margin-bottom: 20px;
}

.price-item:last-child {
  margin-bottom: 0;
}

.price-btn {
  color: var(--light-text-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | BENEFITS
  |============================
*/

.benefit-item {
  width: 122px;
}

.plus {
  color: var(--accent-text-cl);
}

.quantity {
  margin-bottom: 6px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.quantity-desc {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
}

.benefit-group .section-title {
  width: 420px;
}

.benefit-text {
  width: 500px;
  color: var(--dark-grey-tx-cl);
}

/**
  |============================
  | TEAM
  |============================
*/

.team .section-title {
  margin-bottom: 44px;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  line-height: calc(25 / 18);
}

.team-position {
  margin-bottom: 30px;
  color: var(--accent-text-cl);
  text-align: center;
  font-size: 14px;
  line-height: calc(19 / 14);
}

/**
  |============================
  | GALLERY
  |============================
*/

.gallery .uppertitle {
  margin-bottom: 44px;
}

/**
  |============================
  | BOOKING & CONTACTS
  |============================
*/
.contacts-group {
  background-color: #191c26;
  padding-top: 130px;
  padding-bottom: 130px;
}

.booking .section-title {
  color: var(--light-text-cl);
  margin-bottom: 44px;
}

.contacts .section-title {
  color: var(--light-text-cl);
  margin-bottom: 40px;
}

.contacts-address {
  color: var(--grey-text-cl);
  font-style: normal;

  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts .uppertitle {
  color: var(--light-text-cl);
  margin-bottom: 20px;
}

.contacts-text {
  color: var(--grey-text-cl);
}

/**
  |============================
  | FOOTER
  |============================
*/

footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.copyright {
  color: var(--grey-text-cl);
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: calc(15 / 11);
  font-weight: 600;
}

.footer-item {
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: calc(15 / 11);
  font-weight: 600;
}

.footer-link:first-child {
  margin-right: 40px;
}
