:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --main-text-cl: #303030;
  --light-text-cl: #ffffff;
  --accent-text-cl: #ff6c00;
  --grey-text-cl-60: rgba(157, 164, 189, 0.6);
  --grey-text-cl: #9da4bd;
  --dark-grey-tx-cl: #555555;

  /* Background colors */
  --main-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;
  --second-bg-cl: #f7f7f7;

  /* Others */
}

/* RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  outline: 1px solid red;
  outline-offset: -2px;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.uppertitle,
.dark-uppertitle {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  gap: 20px;

  color: var(--grey-text-cl-60);
}

.dark-uppertitle {
  color: var(--main-text-cl);
}

.uppertitle::before,
.dark-uppertitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--grey-text-cl-60);
  display: block;
}

.dark-uppertitle::before {
  background-color: var(--main-text-cl);
}

/**
  |============================
  | BASE
  |============================
*/

.page {
  font-family: var(--main-font);
  background-color: var(--main-bg-cl);
  color: var(--main-text-cl);

  line-height: calc(30 / 18);
  font-size: 18px;
  letter-spacing: 0.02em;
}

.section-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.dark-title {
  margin-bottom: 44px;
  color: var(--main-text-cl);
}

.btn {
  padding: 10px 16px;
  width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Header
  |============================
*/

.header {
  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-logo {
  margin-right: 132px;
  fill: var(--main-text-cl);
}

.header-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-link,
.header-contact {
  display: flex;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: calc(16 / 12);

  color: var(--light-text-cl);
}

.header-group {
  display: flex;
  align-items: center;
}

.header-contact {
  margin-right: 40px;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-text-cl);
}

.header-btn {
  color: var(--light-text-cl);
}

/**
  |============================
  | HERO
  |============================
*/

.hero {
  background-color: #191c26;
}

.hero-social-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.hero-social-list::before {
  display: block;
  width: 60px;
  height: 1px;
  content: "";
  background-color: var(--main-text-cl);
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-text-cl);
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--light-text-cl);
}

.hero-subtitle {
  color: var(--grey-text-cl);
}

.slider-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--grey-text-cl-60);
  background-color: transparent;
}

.slider-btn.active {
  color: var(--light-text-cl);
}

/**
  |============================
  | ABOUT US
  |============================
*/

.about-group {
  width: 470px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-subtitle {
  margin-bottom: 20px;
  color: var(--dark-grey-tx-cl);
}

.about-text {
  margin-bottom: 40px;
  color: var(--dark-grey-tx-cl);
  font-size: 14px;
  line-height: calc(26 / 14);
}

.about-list {
  display: flex;
  gap: 30px;
}

/**
  |============================
  | SERVICES & PRICES
  |============================
*/

.price {
  background-color: #191c26;
  background-image: url(../images/prices.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
}

.price-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;
}

.price-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  color: var(--grey-text-cl);
  margin-bottom: 20px;

  display: flex;
  align-items: baseline;
  gap: 12px;
}

.price-item:last-child {
  margin-bottom: 0;
}

.price-item::before {
  content: "";
  display: block;
  background-color: rgba(157, 164, 189, 0.12);
  height: 1px;
  flex-grow: 1;
}

.price-item-serv {
  order: -1;
}

.price-btn {
  color: var(--light-text-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | BENEFITS
  |============================
*/

.benefit-container {
  display: flex;
}

.benefit-item {
  width: 122px;
}

.benefits-left-side {
  width: 50%;
}

.benefit-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 370px;
  gap: 30px;
}

.plus {
  color: var(--accent-text-cl);
}

.quantity {
  margin-bottom: 6px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.quantity-desc {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
}

.benefit-right-side {
  width: 500px;
  margin-left: auto;
}

.benefit-text {
  color: var(--dark-grey-tx-cl);
}

/**
  |============================
  | TEAM
  |============================
*/

.team {
  background-color: var(--second-bg-cl);
}

.team .section-title {
  margin-bottom: 44px;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  line-height: calc(25 / 18);
  margin-top: 30px;
}

.team-position {
  margin-bottom: 30px;
  color: var(--accent-text-cl);
  text-align: center;
  font-size: 14px;
  line-height: calc(19 / 14);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-socials-item .link {
  width: 44px;
  height: 44px;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-socials-icon {
  fill: var(--main-text-cl);
}

.team-socials-item .link:hover .team-socials-icon,
.team-socials-item .link:focus .team-socials-icon {
  fill: var(--accent-bg-cl);
}

/**
  |============================
  | GALLERY
  |============================
*/

.gallery-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/**
  |============================
  | BOOKING & CONTACTS
  |============================
*/
.contacts-group {
  background-color: #191c26;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 460px) top;
}

.contacts-container {
  display: flex;
}

.booking-section {
  width: 50%;
}

.contacts-section {
  margin-left: 100px;
}

.booking-section .section-title {
  color: var(--light-text-cl);
  margin-bottom: 44px;
}

.contacts-section .section-title {
  color: var(--light-text-cl);
  margin-bottom: 40px;
}

.contacts-address {
  color: var(--grey-text-cl);
  font-style: normal;

  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item:first-child .contacts-link {
  align-items: flex-start;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-text {
  color: var(--grey-text-cl);
}

.contacts-icon {
  fill: none;
  stroke: var(--grey-text-cl);
}

/**
  |============================
  | FOOTER
  |============================
*/

footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.footer-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-text-cl);
}

.copyright {
  color: var(--grey-text-cl);
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: calc(15 / 11);
  font-weight: 600;
}

.footer-item {
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: calc(15 / 11);
  font-weight: 600;
}

.footer-link:first-child {
  margin-right: 40px;
}
